* {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container__title {
    text-align: center;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: blue;
}

.container_btn {
    border-radius: 20px;
    letter-spacing: 0.1em;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    min-height: 30px;
    min-width: 100px;
}

@media (max-width: 768px) {
    .container_btn {
        height: 60px;
        width: 150px;
    }
}

.container_btn--container_btn--mudar-de-tela{
    background: rgba(51, 170, 51, .4);
    background: azure;
    color: red;
}
.container_btn--mudar-de-tela:hover {
    background: yellowgreen;
    color: blue;
}

.container_btn--mudar-de-tela:active {
    transform: scale(1.15);
    background-color: yellow;
}

.container_btn--limpar {
    background: rgba(51, 170, 51, .4);
    background: azure;
    color: blue;
}

.container_btn--limpar:hover {
    background: rgba(51, 170, 51, .4);
    color: blue;
}

.container_btn--limpar:active {
    transform: scale(1.15);
    background-color: greenyellow;
}

.fedback-descricao {
    display: none;
    resize: none;
}

div, .Container__txtArea--descricao {
    display: none
}

.Container__txtArea--descricao{
    resize: none;
}

.estah-visivel {
    display: block;
    overflow:auto; 

    padding: 10px;
    width: 40vw;
    height: 500px;
    border: 1px solid #000;
}

@media (max-width: 768px) {
    .estah-visivel {
        max-height: 50vh;
        width: 80vw;
    }

}

.Container__txtArea--descricao::placeholder {
    padding: 30px;
    text-align: center;
    color: rgba(0, 0, 255, .4);
}

.erro {
    box-sizing: border-box;
    overflow:auto; 
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 40vw;
    max-height: 10vh;
    text-align: center;
    color: red;
    background: rgba(255, 99, 71, .4);
    font-weight: bold;
}

@media (max-width: 768px) {
    .erro {
        max-height: 30vw;
        max-width: 80vw;
    }

}

.palavras-proibidas{
    font-weight: bold;
    color: red;
    border-radius: 5px;
    background: rgba(255, 99, 71, .4);
}

.allrigth {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    color: green;
    background: rgba(51, 170, 51, .4);
    font-weight: bold;
}

@media (max-width: 768px) {
    .allrigth{
        width: 80%;
        padding-bottom: 10px;
    }
}